<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Tefal Pancake Selfie</title>
    <meta name="description" content="Tefal Pancake Selfie">
    <meta name="viewport" content="width=device-width">

    <link rel="shortcut icon" href="<%= ENV['STATIC_URL'] %>/content/tefal/img/favicon.ico">

    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,400italic,600,600italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="<%= ENV['STATIC_URL'] %>/content/tefal/css/bootstrap.css">
    <link rel="stylesheet" href="<%= ENV['STATIC_URL'] %>/content/tefal/css/main.css">
    <link rel="stylesheet" href="/css/app.css?<%= ENV['REVISION'] %>">

    <script src="<%= ENV['STATIC_URL'] %>/content/tefal/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
  </head>
  <body>
    <!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <!-- HEADER -->
    <div class="navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="index.html" title="Home"><img class="img-responsive" src="<%= ENV['STATIC_URL'] %>/content/tefal/img/logo.png" alt="Tefal Pancake Selfie" /></a>
        </div>

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav main-nav">
            <li><a href="<%= ENV['STATIC_URL'] %>/en/competition/gallery">View gallery</a></li>
            <li class="active"><a href="entry-step-1.html">Enter now</a></li>
          </ul>

          <ul class="nav navbar-nav social-links">
            <li><a href="https://twitter.com/TefalUK" rel="nofollow" target="_blank" class="ir twitter" title="Follow us on Twitter">Twitter</a></li>
            <li><a href="https://en-gb.facebook.com/TefalUK" rel="nofollow" target="_blank" class="ir facebook" title="Follow us on Facebook">Facebook</a></li>
          </ul>
        </div>
      </div>
    </div>

    <%= erb :app %>

    <div class="site-footer">
      <footer class="container clearfix">
        <p>&copy; Copyright Tefal 2014 <span>|</span> <a href="<%= ENV['STATIC_URL'] %>/en/Terms">Terms &amp; Conditions</a> <span>|</span> <a href="<%= ENV['STATIC_URL'] %>/en/Privacy">Privacy Policy</a> <span>|</span> <a href="<%= ENV['STATIC_URL'] %>/en/Contact">Contact us</a></p>

        <div>
<!-- AddThis Button BEGIN -->
  <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
  <a class="addthis_button_facebook" addthis:url="http://www.tefalpancakeday.co.uk"></a> 
  <a class="addthis_button_twitter" addthis:title="Make your own Pancake Selfie - Why not share the Pancake Selfie love with your friends?" addthis:url="http://www.tefalpancakeday.co.uk"></a> 
  <a class="addthis_button_pinterest_share" pi:pinit:description="Why not share the Pancake Selfie love with your friends?" pi:pinit:url="http://www.tefalpancakeday.co.uk" pi:pinit:media="http://www.tefalpancakeday.co.uk/content/Tefal/img/logo.png" pi:pinit:layout="horizontal"></a> 
  <a class="addthis_button_email" addthis:title="Tefal: Make your own Pancake Selfie" addthis:description="Why not share the Pancake Selfie love with your friends?" addthis:url="http://www.tefalpancakeday.co.uk"></a>
  <a class="addthis_button_compact"></a><a class="addthis_counter addthis_bubble_style"></a>
  </div>
  <script type="text/javascript">var addthis_config = { "data_track_addressbar": true };</script>
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52fe1df050f123c8"></script>  <!-- AddThis Button END --> 
        </div>
      </footer>
    </div>

    <script>
    var Pancake = {
      Config: {
        facebookAppId: '685230378194888'
      }
    }
    </script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="<%= ENV['STATIC_URL'] %>/content/tefal/js/vendor/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.5.2/jquery.fileupload.js"></script>
    <script src="//connect.facebook.net/en_GB/all.js"></script>
    <script src="/js/vendor/getUserMedia.min.js"></script>
    <script src="/js/app.js?<%= ENV['REVISION'] %>"></script>

    <script>
      (function (i, s, o, g, r, a, m)
      {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function ()
        {
          (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
      })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

      ga('create', 'UA-48058680-1', 'tefalpancakeday.co.uk');
      ga('send', 'pageview');
    </script>
  </body>
</html>
